<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Where Should I Visit Next?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website listing cheap flights within the US">
    <meta name="keyword" content="where, should, visit, travel, flight, next">
    <meta name="author" content="Mert Emin Kalender">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            var aDay = 24 * 60 * 60 * 1000;

            <% if @show_results %>
            var departureDay = new Date("<%= @departure_date %>");
            var arrivalDay = new Date("<%= @arrival_date %>");
            <% else %>
            var date = new Date();
            var day = date.getDay();
            var normalizedDayForFriday = (day + 2) % 7;
            var daysForward = 7 - normalizedDayForFriday;
            var departureDay = new Date(+date + (daysForward * aDay));
            departureDay.setHours(17);
            departureDay.setMinutes(0);

            var arrivalDay = new Date(+departureDay + aDay * 2);
            arrivalDay.setHours(15);
            arrivalDay.setMinutes(0);
            <% end %>

            $('#datetimepicker1').datetimepicker({
                startDate: departureDay,
                defaultDate: departureDay
            });
            $('#datetimepicker2').datetimepicker({
                startDate: arrivalDay,
                defaultDate: arrivalDay
            });

            $("#datetimepicker1").on("change.dp",function (e) {
                $('#datetimepicker2').data("DateTimePicker").setDate(e.date + 2 * aDay - aDay/12);
                $('#datetimepicker2').data("DateTimePicker").setStartDate(e.date + aDay);
            });
            $("#datetimepicker2").on("change.dp",function (e) {
                $('#datetimepicker1').data("DateTimePicker").setStartDate(e.date - aDay);
            });
        });
    </script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="first">Where Should I</span><span class="second"> Visit Next?</span></a>
            </div>
            <div class="collapse navbar-collapse">
                <% if @show_results %>
                <form class="navbar-form navbar-right" action="/search" method="post">
                    <div class="form-group">
                        <label class="control-label">Leave</label>
                        <select class="form-control input-sm" name="city">
                            <option value="SEA">Seattle</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">from</label>
                        <div class="input-group date">
                            <input type="text" id="datetimepicker1" class="form-control input-sm" name="departure" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">to</label>
                        <div class="input-group date">
                            <input type="text" id="datetimepicker2" class="form-control input-sm" name="arrival" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
                <% end %>
            </div>
        </div>
    </nav>
	
    <div id="body" class="container">
    	<div class="row-fluid">
			<div id="content">
				<div class="row-fluid">
                    <% if @show_results %>
                        <% if @valid %>
                        <% @results.each do |result| %>
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="<%= result["image"] %>" />
                            </div>
                            <div class="col-sm-4">
                                <p class="text-muted"><%= result["state"] %></p>
                                <h3><%= result["city"] %></h3>
                            </div>
                            <div class="col-sm-6">
                                <h1>$<%= result["price"] %></h1>
                            </div>
                        </div>
                        <% end %>
                        <% else %>
                        <h3>An error occured! Please try again later.</h3>
                        <% end %>
				    <% else %>
                    <form class="form-horizontal" action="/search" method="post">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Leave</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="city">
                                    <option value="SEA">Seattle</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">from</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input type="text" id="datetimepicker1" class="form-control" name="departure" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">to</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input type="text" id="datetimepicker2" class="form-control" name="arrival" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                    <% end %>
                </div>
			</div>
    	</div>
	</div>
</body>
</html>
